<h1>Product Information</h1>


<div>
	Name: <%= @product.name %> </br>
	Description: <%= @product.description %> </br>
	Price: <%= number_to_currency(@product.price) %> </br>
	
	<%= link_to "Edit", edit_product_path(@product) %> |
	<%= link_to "Back", :back %>
</div>